{% extends "layouts/layout.html" %} {% block content %}
<main role="main" class="container">
    <div class="row">
        <div class="col col-centered">
            <img src="http://via.placeholder.com/150x150" alt="placeholder">
            <h2 class="prod-name">{{ subs.orig.prod_id }}</h2>
            <h2 class="prod-name">{{ subs.orig.prod_name }}</h2>
            <p>size: {{ subs.orig.size }}, uom: {{ subs.orig.uom }}</p>
        </div>
        <div class="col col-centered">
            <form method="post" action="/post_answer">
                {%- for pc_sub in subs.pc_subs %}
                <img src="http://via.placeholder.com/150x150" alt="placeholder">
                <h2 class="prod-name">{{ pc_sub.prod_id }}</h2>
                <h2 class="prod-name">{{ pc_sub.prod_name }}</h2>
                <p>size: {{ pc_sub.size }}, uom: {{ pc_sub.uom }}</p>
                <div>
                    <label>Yes
                        <input type="radio" name="{{ pc_sub.pid }}" value=1>
                    </label>
                    <label>No
                        <input type="radio" name="{{ pc_sub.pid }}" value=0>
                    </label>
                </div>
                {%- endfor %}
                <input type="submit">
            </form>
        </div>
    </div>
</main>
{% endblock %}