img.logo {
    display: inline-block;
    margin: 0 auto;
    height: 20px;
}

body {
    padding-top: 5rem;
}

main {
    min-height: 70vh;
}

footer {
    margin-top: 3rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}