<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %} {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <!-- copied and modified from https://github.com/twbs/bootstrap/blob/v4-dev/docs/4.1/examples/starter-template/index.html -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img class="logo" src="{{ url_for('static', filename='img/banner_en.svg') }}" alt="Loblaws">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto"></ul>
                {%- if current_user.is_authenticated -%}
                <a href="{{ url_for('security.logout') }}">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log out
                    </button>
                </a>
                {%- else -%}
                <a href="{{ url_for('security.login') }}">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log in</button>
                </a>
                {%- endif -%}
            </div>
        </nav>
        <!-- end of copy -->
    </header>
    <main role="main" class="container">
        {%- if current_user.is_authenticated -%}
        <p>Hello {{ current_user.email }}</p>
        {%- endif %} {% block content %} {% endblock %}
    </main>
    <footer class="bg-dark text-muted">
        <div class="container">
            <p class="float-right">Provided by <a href="mailto:ashley.wang@loblaw.ca">Data Science Team @ Loblaw Digital</a></p>
        </div>
    </footer>
</body>

</html>